.SideNavigationBar {
  /* SIDEBAR */
  position: absolute;
  width: 275px;
  height: 1080px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  border-right: 1px solid #d5d5d5;
  position: fixed;
}

.EPLELogo {
  
  width: 143px;
  height: 49px;
  position: static;
}
.brand-link{
  margin-left: 27px;
  margin-top: 13px;
}

.MainMenu{
  
}