.SideNavigationBar {
  /* SIDEBAR */
  position: absolute;
  width: 250px;
  height: 1080px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  border-right: 1px solid #a5a5a5;
}

.EPLELogo {
  position: absolute;
  left: 40px;
  right: 33.62%;
  top: 37px;
  bottom: 90.65%;
  width: 179px;
  height: 64px;
}